.navbar-brand {
    color: #707070 !important;
}

.nav-item a {
    color: #707070 !important;
}

.text-jumbotron {
    width: 50%;
    color: #707070;
}

.text-jumbotron::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 53px;
    left: -18%;
    background-image: url('../asset/icon/memphiz_jumbotron.svg');
    background-position: top;
    background-repeat: no-repeat;
    transform: rotate(-28deg);
}


.text-jumbotron::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    background-image: url('../asset/icon/memphiz_jumbotron.svg');
    background-repeat: no-repeat;
}

.scroll-icon {
    margin-top: 180px;
}



/* Content */


.section-content {
    margin-top: 226px;
}


.card {
    border: none;
}